<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Noticías</h1>
		
		<table>
			<tr>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			

			<% noticias.forEach(function(noticia){ %>
				<tr>
					<td><%= noticia.titulo %></td>
					<td><%= noticia.noticia %></td>
				</tr>
			<% })%>
		</table>

	</body>
</html>